<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yang.shop.dao.ZdCategoryMapper">
    <resultMap id="zdCategoryMapper" type="com.yang.shop.entity.ZdCategory">
        <id column="categoryId" property="categoryId"/>
        <result column="categoryName" property="categoryName"/>
        <result column="categoryLevel" property="categoryLevel"/>
        <association property="categoryGroup" javaType="com.yang.shop.entity.ZdCategory">
            <id column="parentCategoryId" property="categoryId"/>
            <result column="parentCategoryName" property="categoryName"/>
        </association>
    </resultMap>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="zdCategoryMapper">
        select a.categoryId categoryId,a.categoryName categoryName,a.categoryLevel categoryLevel, b.categoryId parentCategoryId,b.categoryName parentCategoryName
        from zdcategory a inner join zdcategory b on a.categoryGroup = b.categoryId
        where a.categoryId = #{categoryId}
    </select>

    <select id="selectCategoryList" resultMap="zdCategoryMapper">
        select a.categoryId categoryId,a.categoryName categoryName,a.categoryLevel categoryLevel, b.categoryId parentCategoryId,b.categoryName parentCategoryName
        from zdcategory a inner join zdcategory b on a.categoryGroup = b.categoryId
    </select>

</mapper>